<style>
  img {
    max-width: 100%;
    height: auto;
  }

  .top-left {
    position: absolute;
    top: 16px;
    left: 64px;
  }

  h1 {
    font-size: 5vw;
    font-family: 'Lucida Console';
  }
</style>

<div class="header">
  <img src="assets/Images/panel_image/f1car.jpg" width="430" height="138">
  <div class="top-right">
    <h1>Buy a Ticket</h1>
  </div>

</div>
<br>
<div style="overflow-x:auto;">
  <table style="width: 100%">
    <tr>
      <td style="font-size:180%">Grandprix RUSSIA</td>
      <td style="font-size:180%">Grandprix CHINA</td>
      <td style="font-size:180%">Grandprix ROMANIA</td>
    </tr>
    <br>
    <tr>
      <td>
        <img src="assets/Images/panel_image/gpRussia.jpg" style="width:228px;height:128px;">
      </td>
      <td>
        <img src="assets/Images/panel_image/gpChina.jpg" style="width:228px;height:128px;">
      </td>
      <td>
        <img src="assets/Images/panel_image/gpRomania.jpg" style="width:228px;height:128px;">
      </td>
    </tr>
    <br>
    <tr>
      <td>
        <button pButton type="By ticket" (click)="buyTicketRussia()" label="By ticket"></button>
      </td>
      <td>
        <button pButton type="By ticket" (click)="buyTicketChina()" label="By ticket"></button>
      </td>
      <td>
        <button pButton type="By ticket" (click)="buyTicketRomania()" label="By ticket"></button>
      </td>
    </tr>
  </table>
</div>

<p-dialog appendTo="body" header="Ticket Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <h3>Content</h3>
  <p-dataTable [value]="tickets" [value]="grandprix" selectionMode="single" [(selection)]="selectedTicket" (onRowSelect)="onRowSelect($event)"
    [paginator]="true" rows="15" [responsive]="true">
    <p-header>Grandprixes</p-header>
        <p-column field="price" header="Price" [sortable]="true"></p-column>
        <p-column field="type" header="Type" [sortable]="true"></p-column>
        <p-column field="grandprix.location" header="Location" [sortable]="true"></p-column>
    <p-footer>
      <div class="ui-helper-clearfix" style="width:50%">
      </div>
    </p-footer>
  </p-dataTable>
</p-dialog>
<p-dialog appendTo="body" header="Ticket Details" [(visible)]="displayDialog2" [responsive]="true" showEffect="fade" [modal]="true">
  <!-- <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="userId">Id</label></div>
            <div class="ui-grid-col-8"><input pInputText id="id" [(ngModel)]="userId" /></div>
        </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="submit()" label="Save"></button>
        </div>
    </p-footer> -->
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">
        <i class="fa fa-user"></i>
      </span>
      <input type="text" pInputText placeholder="Give user Id" [(ngModel)]="userId" />
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa-check" (click)="submit()" label="Submit">
          <a class="item" routerLink="/displayDialog"></a>
        </button>
      </div>
    </div>
  </div>
</p-dialog>